<div class="box">
  <%= partial "layouts/banner" %>
  <%= partial "layouts/greeting" %>
  <%= partial "layouts/introduction" %>
  <%= partial "layouts/price" %>
  <%= partial "layouts/place" %>
  <%= partial "layouts/form" %>
</div>
